<article class="post">
    <div class="title">
        <a href="/post/{{id}}" target="_blank">{{title}}</a>
        <p>{{post_text}}</p>
    </div>
    <div class="meta">
        <p>Written by {{user.name}} 
        time
         {{format_date createdAt}}</p>
        <a href="/post/{{id}}" class="btn btn-primary">Read More</a>
    </div>
    </article>